@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 100% 5%;
    --card: 0 0% 100%;
    --card-foreground: 200 100% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 100% 5%;
    --primary: 199 100% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 100% 9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 199 100% 85%;
    --muted-foreground: 200 100% 20%;
    --accent: 199 100% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 199 50% 90%;
    --input: 199 50% 90%;
    --ring: 199 100% 46%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
